.container{
    width:1350px;
    max-width: none !important;
}

.col-xs-10 {
	padding: 0;
	margin: 0;
}

/*
div[class^=col] {
 	border: 1px solid black;
}

div[class^=row] {
 	border: 1px solid black;
}
*/

/*----------------------menu---------------------------------*/
#logo {
	width: 225px;
	margin: 5px 0 0 -10px;
}

.col-xs-2 {
	background: linear-gradient(to right, #CD61FF 0%, #D477FF 13%, #DC93FF 29%, #ffffff 90%); 
	height: 1400px;
}

/*-----------------header------------------------------*/

#title img {
	position: absolute;
	height: 200px;
	opacity: 0.9;
	margin: -140px 0 0 910px;
}

#title {
	height: 216px;
	background: url(../images/fon_header.png) no-repeat top right/1000px 216px;
}

#title h1 {
	font-family: Snell Roundhand, cursive;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
    text-shadow: 2px 3px 15px #cfb6ff;
    padding-left: 70px;
    padding-top: 30px;
}

#title h2 {
	font-family: Snell Roundhand, cursive;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
    text-shadow: 2px 3px 15px #cfb6ff;
    padding-right: 250px;
}

/*----------------------contents------------------------*/

#bloc1_main, #bloc2_main {
	height: 450px;
}

#image_bloc1_main img, #image_bloc2_main img {
	height: 400px;
	margin-left: 20px
}

#text_bloc1_main h3 {
	margin: 70px 30px 10px 0px;
	font-family: Snell Roundhand, cursive;
	text-align: justify;
}

#text_bloc2_main h3 {
	margin: 20px 0px 10px 30px;
	font-family: Snell Roundhand, cursive;
	text-align: justify;
}

/*---------------additional_section--------------*/


#additional_section {
	height: 170px;
	text-align: center;
}


#additional_section img {
	height: 100px;
	padding-right: 10px;
}

#additional_section h3 {
	text-shadow: 5px 5px 10px #a48fb3 ;
	font-family: Snell Roundhand, cursive;
	text-decoration-color: #413E57
}

#additional_section a:hover, #additional_section a:active {
	opacity: 0.6;
}

/*--------------------------footer-------------------------*/

#footer {
	height: 100px;
	text-align: center;
	background: radial-gradient(ellipse at center, #C435AC 5%, #ffffff 70%, #ffffff 100%); 
}

#footer img {
	height: 70px;
	padding-right: 10px;
}

#autor_center {
	font-size: 15px;
}

#autor_center a{
	color: #ff0022;
	text-shadow: 0px 0px 10px yellow ;
}


#footer a:hover, #footer a:active {
	opacity: 0.6;
}

/*____________________________________________________________________________________artist_____________________________________________________________________________________*/

#contents {
	height: 900px;
}

#image_bloc1_artist img, #image_bloc2_artist img {
	height: 400px;
	margin-left: 20px
}

#text_bloc1_artist h3 {
	margin: 80px 30px 10px 50px;
	font-family: Snell Roundhand, cursive;
	text-align: justify;
}

#text_bloc2_artist h3 {
	margin: 100px 30px 10px 30px;
	font-family: Snell Roundhand, cursive;
	text-align: justify;
}

/*____________________________________________________________________________________inform_____________________________________________________________________________________*/

#contents {
	height: 900px;
}

#bloc1_inform img {
	height: 650px;
	margin-left: 100px
}

#text_bloc1_inform h3 {
	margin: 20px 30px 0px 300px;
	text-align: left;
}

#text_bloc1_inform h4 {
	margin: 20px 30px 0px 250px;
	text-align: left;
	font-size: 14px;
}

#bloc2_inform img {
	display: block;
 	margin: 0 auto;
}


/*____________________________________________________________________________________location_____________________________________________________________________________________*/

#contents {
	height: 900px;
}

#image_bloc1_location img {
	height: 400px;
	display: block;
 	margin: 0 auto;
}

#text_bloc1_location h3 {
	text-align: justify;
}
 #bloc2_location img {
 	display: block;
 	margin: 0 auto;
 	padding-top: 50px;
	height: 450px;
 }

/*____________________________________________________________________________________news_____________________________________________________________________________________*/

#contents {
	height: 900px;
}

#bloc1_news, #bloc1_news {
	height: 450px
}

#image_bloc1_news img{
	height: 450px;
	display: block;
	margin: 0 auto;
 }

#text_bloc1_news h3 {
	margin: 50px 50px 0px 0px;
	text-align: justify;
}


#image_bloc2_news img {
	height: 400px;
}

#text_bloc2_news h3 {
	margin: 80px 0px 0px 50px;
	text-align: justify;
}